<div class="dialog-panel">
  <div class="dialog-panel-header">
    <div class="dialog-panel-header-text">
      <span>Профиль ></span>
    </div>
    <div class="search-container">
      <input type="search" class="search-input" placeholder="Поиск" />
      <img src="{{searchIcon}}" alt="search" class="search-icon" />
    </div>
  </div>
  {{{items}}}
</div>