<div class="register-page">
  <h1>Регистрация</h1>
  <form id="register-form">
    {{{inputName}}}
    {{{inputEmail}}}
    {{{inputPassword}}}
    <button type="submit">Зарегистрироваться</button>
  </form>
  <a href="/login">Вход</a>
</div>
