<div class="dialog-item">
    <div class="dialog-img"></div>
    <div class="dialog-item__content">
        <div class="dialog-item__main">
            <div class="dialog-item__header">
                <div class="dialog-item__title">{{name}}</div>
                <span class="dialog-item__time">{{time}}</span>
            </div>
            <div class="dialog-item__footer">
                <div class="dialog-item__message">{{message}}</div>
                <span class="dialog-item__notification">{{notification}}</span>
            </div>
        </div>
    </div>
</div>